
# Created by https://www.toptal.com/developers/gitignore/api/venv
# Edit at https://www.toptal.com/developers/gitignore?templates=venv

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
.pyc
.whl
venv
.pyc
# End of https://www.toptal.com/developers/gitignore/api/venv
tools/__pycache__/logger.cpython-39.pyc
manager/__pycache__/webserverManager.cpython-39.pyc
venv/share/python-wheels/appdirs-1.4.4-py2.py3-none-any.whl
server/__pycache__/webServer.cpython-39.pyc
